.hidden {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

#screen-box {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 70%;
  width: 800px;
  height: 700px;
  border: 2px solid white;
  border-radius: 30px;
}
.top-part {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 00px;
  width: 100%;
  height: 70px;
  border: 2px solid white;
  border-radius: 30px 30px 0px 0px;
}

.top-part-left,
.top-part-right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  width: 50%;
}

#screen-words {
  z-index: 15;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form input {
  width: 250px;
  height: 20px;
  outline: none;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
}

#login-form input:hover::placeholder,
#login-form input:focus::placeholder,
#login-form input:active::placeholder {
  color: white;
  font-size: 24px;
  opacity: 80%;
}

#greeting {
  font-size: 40px;
  color: white;
  margin: 10px 0px;
  font-weight: 600;
}

#clock {
  font-size: 90px;
  color: white;
  margin: 20px 0px;
}

#todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 24px;
  opacity: 60%;
  border: none;
  color: gray;
  background-color: white;
}

#todo-input:hover,
#todo-input:focus {
  width: 320px;
  opacity: 70%;
  color: white;
  background-color: gray;
  transition: width 2s, background-color 2s, opacity 2s, color 2s;
}

#todo-input:hover::placeholder {
  color: white;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: 80%;
  color: white;
}

button {
  margin: 6px 0px;
  border: none;
  font-size: 1px;
  border: none;
  background-color: transparent;
}

#quote-list {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: white;
  margin-bottom: 14px;
  font-weight: 500;
  opacity: 80%;
}
